<div class="div-calculadora grid-container">
    <div class="div-display container grid-item">
        <span>{{this.display}}</span>
    </div>
    <div class="container row">
         <div class="row">
            <button (click)="setOperando(1)">1</button>
            <button (click)="setOperando(2)">2</button>
            <button (click)="setOperando(3)">3</button>
            <button (click)="setOperador('+')">+</button>
        </div>
        <div class="row">
            <button (click)="setOperando(4)">4</button>
            <button (click)="setOperando(5)">5</button>
            <button (click)="setOperando(6)">6</button>
            <button (click)="setOperador('-')">-</button>
        </div>
        <div class="row">
            <button (click)="setOperando(7)">7</button>
            <button (click)="setOperando(8)">8</button>
            <button (click)="setOperando(9)">9</button>
            <button (click)="setOperador('*')">*</button>
        </div>
        <div class="row">
            <button (click)="setOperando(0)">0</button>
            <button (click)="setOperador('C')">C</button>
            <button (click)="setResultado()">=</button>
            <button (click)="setOperador('/')">/</button>
        </div>
    </div>
</div>
